version: '3.3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "8080:8080"


# docker-compose up -d :create/build images and start containers
#docker-compose down : stop the services
# docker-compose build :build or rebuild services